.git/
.gitignore

.idea/
.vscode/

__pycache__/
**/__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.build/
dist/
build/

venv/
.env/
.venv/
env/
ENV/

.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

*.log

.env
*.env

.DS_Store
Thumbs.db

**/tests.py
tests/
test/
__tests__/

node_modules/

media/

Dockerfile.busyboxpluscurl

*.tar
*.zip
*.tmp
*.swp
*.bak
